# Quartus / Intel FPGA
db/
incremental_db/
output_files/
*.qws
*.qdf
*.qpg
*.qtl
*.qmsg
*.rpt
*.smsg
*.summary
*.sci
*.sof
*.pof
*.jic
*.rbf

# ModelSim / Questa
work/
transcript
vsim.wlf
*.mpf
*.qdb
_info
_vmake
*_check/
msim_*/
soc-wuxi-arm/hw/audio_tb_run*/

# Keil MDK
Listings/
Objects/
output/
*.axf
*.bin
*.hex
*.htm
*.lnp
*.crf
*.dep
*.uvoptx
*.uvguix.*
JLinkLog.txt
JLinkSettings.ini

# IAR Embedded Workbench
Debug/
settings/
*.ewd
*.pbd
*.browse
*.linf
*.pbi
*.xcl
*.dnx
*.wsdt
*.dbgdt
*.crun

# Editor / backup files
*.bak
*~
greybox_tmp/

# Lock / transient files
_lock
uart_rx_log.txt
__pycache__/uart_receiver.cpython-312.pyc
modelsim/arm_soc.cr.mti
modelsim/vish_stacktrace.vstf
modelsim/wlft2ynfw2
modelsim/wlft6axfez
modelsim/wlft89th3x
modelsim/wlftb8f38g
modelsim/wlfthicaee
modelsim/wlftiyw03b
modelsim/wlfts8vs3e
modelsim/wlftsnszh3
modelsim/wlfttg22es
modelsim/wlftyth1k8
modelsim/arm_soc.cr.mti
modelsim/wlftiyw03b
